# not installable via pip

# https://pypi.python.org/pypi/antimony
# antimony>=2.9.0

# https://pypi.python.org/pypi/phrasedml
# phrasedml>=1.0.3

# sbml2matlab
# combine


# installable via pip
libroadrunner>=1.4.18
python-libsbml>=5.15.0
python-libsedml>=0.4.1
rrplugins>=1.1.8

numpy
matplotlib>= 2.0.0

pandas
ipywidgets
bioservices


ipython
jinja2
plotly
pytest


# pygraphviz