numpy>=1.13.1
# scipy>=0.19.1
matplotlib>=2.0.2
# pandas>=0.20.3

libroadrunner>=1.4.18
tesbml>=5.15.0
tesedml>=0.4.1
tecombine>=0.2.2

# tecombine
# tesbml
# tesedml

# python-libnuml>=1.0.1
phrasedml>=1.0.6
antimony>=2.9.4
rrplugins>=1.1.10
sbml2matlab>=0.9.1

appdirs>=1.4.3
# ipywidgets
# bioservices
# ipython
# jinja2
# plotly

# testing dependencies
# pytest
