numpy==1.19.3
scipy>=1.5.1
matplotlib>=2.0.2
pandas>=0.20.2
libroadrunner>=2.0.0
phrasedml>=1.0.9
antimony>=2.12.0
sbml2matlab>=0.9.1
python-libsbml>=5.18.0
python-libnuml>=1.0.0
python-libsedml>=0.4.3
python-libcombine>=0.2.2
appdirs>=1.4.3
jinja2>=2.9.6
plotly>=2.0.12
requests
jupyter-client>=5.1.0
jupyter-core>=4.3.0
ipython
ipykernel>=4.6.1
pytest
